<!-- Footer Links -->
<div class="container text-center text-md-left">

  <!-- Grid row -->
  <div class="row">

    <!-- Grid column -->
    <div class="col-md-4 mx-auto">

      <!-- Content -->
      <h5 class="font-weight-bold mt-3 mb-4">Contact Us</h5>

      <ul class="list-unstyled">
        <li>
          Email : <a href="mailto:zhcetformularacing@gmail.com">zhcetformularacing@gmail.com</a>
        </li>
        <br>
        <li>
          Phone No. : <a href="tel:+919876543210">+91 9876543210</a>
        </li>
        <br>
        <li>
          <address>Address :<br> SAE zhcet,AMU,Aligarh,Uttar Pradesh,India</address>
        </li>
      </ul>


    </div>
    <!-- Grid column -->

    <hr class="clearfix w-100 d-md-none">

    <!-- Grid column -->
    <div class="col-md-2 mx-auto">

      <!-- Links -->
      <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Links</h5>

      <ul class="list-unstyled">
        <li>
          <a href="#!">Link 1</a>
        </li>
        <li>
          <a href="#!">Link 2</a>
        </li>
        <li>
          <a href="#!">Link 3</a>
        </li>
        <li>
          <a href="#!">Link 4</a>
        </li>
      </ul>

    </div>
    <!-- Grid column -->

    <hr class="clearfix w-100 d-md-none">

    <!-- Grid column -->
    <div class="col-md-2 mx-auto">

      <!-- Links -->
      <h5 class="font-weight-bold mt-3 mb-4">Cars</h5>

      <ul class="list-unstyled">
        <li>
          <a href="/cars/zfr-5.0/index.html">ZFR 5.0</a>
        </li>
        <li>
          <a href="/cars/zfr-4.1/index.html">ZFR 4.1</a>
        </li>
        <li>
          <a href="/cars/zfr-4/index.html">ZFR 4.0</a>
        </li>
        <li>
          <a href="/cars/zfr-3/index.html">ZFR 3.0</a>
        </li>
        <li>
          <a href="/cars/zfr-2/index.html">ZFR 2.0</a>
        </li>
        <li>
          <a href="/cars/zfr-1/index.html">ZFR 1.0</a>
        </li>
      </ul>

    </div>
    <!-- Grid column -->
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <hr>

  <!-- Call to action -->
  <ul class="list-unstyled list-inline text-center py-2">
    <li class="list-inline-item">
      <h5 class="mb-1">Support Us</h5>
    </li>
    <li class="list-inline-item">
      <a href="/donation/index.html" class="btn btn-danger btn-rounded">Donate here!</a>
    </li>
  </ul>
  <!-- Call to action -->

  <hr>

  <!-- Social buttons -->
  <ul class="list-unstyled list-inline text-center" id="social-buttons">
    <li class="list-inline-item">
      <a href="#" class="btn-floating btn-fb mx-1">
        <img src="/icons/fb.png" alt="fb link">
      </a>
    </li>
    <li class="list-inline-item">
      <a href="#" class="btn-floating btn-tw mx-1">
        <img src="/icons/twitter.png" alt="twitter link">
      </a>
    </li>
    <li class="list-inline-item">
      <a href="#" class="btn-floating btn-li mx-1">
        <img src="/icons/linkedin.png" alt="linkedin link">
      </a>
    </li>
    <li class="list-inline-item">
      <a href="#" class="btn-floating btn-instagram mx-1">
        <img src="/icons/insta2.png" alt="insta link">
      </a>
    </li>
  </ul>
  <!-- Social buttons -->

  <!-- developer -->
  <div class="footer-copyright text-center py-3" id="developer">Developed by
    <a href="https://mdbootstrap.com/education/bootstrap/"> Mohd Anas,Gauhar Ayub Khan & Hammad Basit</a>
  </div>
  <!-- developer -->
</div>