<div class="container container-nav" id="contain">
    <a class="navbar-brand" href="/home/index.html">
        <img src="/icons/stickr.png" alt="logo" id="logo">
    </a>
    <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon "></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/home/index.html"><i class="fi-xnsuxm-house-solid"></i><span>H</span>ome </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/cars/index.html"><img src="/icons/imageedit_5_8543309129.png" id="car-icon"
                        alt=""><span>C</span>ars </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/team/index.html"><i class="fi-xnsuxm-team-solid"></i><span>C</span>rew</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link " href="/fs/index.html"><i class="fi-xwllxm-star-half-wide"></i><span>F</span>ormula
                    Student</a>
            </li>
            <li class="nav-item dropdown" id="donation">
                <a class="nav-link dropdown-toggle" href="/donation/index.html" id="navbarDropdownMenuLink"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fi-xnsuxm-rupee"></i><span>S</span>upport
                </a>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/donation/index.html">Support Us</a>
                    <a class="dropdown-item" href="/sponsors/index.html">Our Sponsors</a>
                </div>
            </li>
        </ul>
    </div>
</div>
<a class="navbar-brand" id="amu-logo" href="https://www.amu.ac.in" target="_blank">
    <div><img src="/icons/amu-logo/amulogopng.png" alt=""></div>
</a>
