
#main_image {
    background-image: url(../images/real2.jpeg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#header_text {
    background: rgba(0, 0, 0, 0.6);
    color: white;
    font-size: 20vw;
    font-family: Ubuntu;
    font-weight: 800;
    height: 100vh;
    padding-top: 28vh;
}

p {
    margin: auto;
    width: fit-content;
    text-align: center;
    transform: rotate(-2deg);
    border-left: 3px solid goldenrod;
    padding-left: 2%;

}

.parts {
    display: grid;
    grid-template-columns: 1fr;
    min-height: 200px;
    grid-row-gap: 50px;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 200px;
    grid-column-gap: 5%;
    grid-template-areas: "second first";
}

.wrapper .heading-text {
    font: 700 30px Ubuntu;

}

.parts section {
    border-top: 2px solid goldenrod;

}

.grid-view {
    margin: auto;
    width: 95%;
    margin-top: 100px;
    font-family: monospace;
}

#grid-head-text {
    width: fit-content;
    margin: auto;
    margin-bottom: 50px;
    font-size: 3.5em;
    font-family: Lobster;

}

.grid-text {
    margin-bottom: 12px;
    padding: 12px;
    margin-left: 8%;
}

.grid-text>div {
    margin: 5%;
}

.grid-text .body-text {
    text-align: justify;
    font-family: Lato;
    font-size: 20px;
}

.grid-text .link {
    text-decoration: none;
    font-size: 2em;
    text-align: left;
}

.icon {
    padding: 12px;

}

.icon div {
    /* box-shadow: 0 0 15px -5px rgba(0,0,0,0.32); */
    background: rgb(245, 244, 244);
    height: 50px;
    width: 50px;
    border-radius: 50%;

}

.icon img {
    height: 50px;
    width: 50px;
}

.grid-image {
    display: flex;
    align-items: center;

}

.grid-image .image-container {
    width: fit-content;

}

.grid-image .image-container img {
    height: 300px;
    border-radius: 12px;
    box-shadow: 0 2px 6px 3px rgba(0, 0, 0, 0.32);
    width: 80%;
    display: block;
    margin: auto;
}

#page-container {
    /* border: 2px solid red; */
    display: grid;
    margin-top: 50px;
    padding-top: 50px;
    border-top: 2px solid goldenrod; 
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 5%;
    /* padding: 5%; */
    /* grid-template-areas: "first second"; */
    /* margin: auto; */
}

/* #page-container>div {
     border: 2px solid blue;
}
#page-container .first{
    grid-area: first;
}
#page-container .second{
    grid-area: second;
} */

#fb-page12 {
    max-width: 500px;
    /* margin-left: calc(100vw - 600px); */
    margin-bottom: 50px;
    /* border: 2px solid goldenrod; */
    width: 50vw;
    padding-right:20px; 
}

#form-container {
    /* border: 2px solid green; */
    min-height: 200px;
    margin-bottom: 50px;
}
form{
    width: fit-content;
    margin:auto;
}
form >div{
    padding :5%;
}
form input{
    padding:5%;
}
form button{
    border:none;
    padding:12px;
    color :white;
    background-color:black;
}
#button-setter{
    font-family: Lato;
    width: fit-content;
    margin: auto;
    border: 3px dashed turquoise;
   
}
.some-headings {
    text-align: center;
    font: 700 32px Lobster;
    
}
.alter-grid .grid-image{
    grid-area: second;
}
.alter-grid .grid-text{
    grid-area: first;
}

@media screen and (min-width: 700px) {
    #header_text {
        font-size: 10vw;
    }
}

@media screen and (max-width: 767px) {
    .wrapper {
        display: grid;
        grid-template-columns: 1fr;
        min-height: 200px;
        grid-column-gap: 30px;
    }

    #fb-page12 {
        margin: 10%;
        width:80vw;
    }
    #page-container{
        grid-template-columns: 1fr;
    }
    .some-headings{
        margin-top:50px;
    }
    .wrapper{
        grid-template-columns: 1fr;
        grid-template-areas: "first"
                            "second";
    }

}