#main_image {
    /* background-image: url(../images/real2.jpeg);
    background-size: 100% 100%;
    background-repeat: no-repeat; */
    position: absolute;
    top:0;
    width: 100%;
}
#header_text {
    background: rgba(0, 0, 0, 0.6);
    color: rgb(255, 255, 255);
    font-size: 20vw;
    font-family: Cinzel;
    font-weight: 800;
    height: 100vh;
    padding-top: 28vh;
}


#wrapper {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

#featured {
    position: absolute;
    width: calc(100vh * (1000 / 562));
    /*  video width / height  */
    height: calc(100vw * (562 / 1000));
    /*  video height / width  */
    min-width: 100%;
    min-height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#myVideo {
    position: absolute;
    top: 75.91px;
    left: 0;
    width: 100%;
    height: 100%;
}

.bd-example {
    margin-top: 70px;
    position: relative;
    z-index: 0;
    width: 100%;
}

.carousel-item img {
    height: 90vh;
}


.about-text {
    padding: 50px;
    font-size: 22px;
    text-align: justify;
    line-height: 2.5rem;
    width: 80%;
    margin: auto;
    min-width: 300px;

}

p {
    margin: auto;
    width: fit-content;
    text-align: center;
    border-left: 3px solid goldenrod;
    padding-left: 2%;
}

.parts {
    display: grid;
    grid-template-columns: 1fr;
    min-height: 200px;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 200px;
    grid-column-gap: 5%;
    grid-template-areas: "second first";
}

.wrapper .heading-text {
    font: 700 30px Ubuntu;
}

.parts section {
    border-top: 2px solid goldenrod;
    margin-top: 50px;
    padding: 50px 0;
}

.grid-view {
    margin: 50px 5%;
    font-family: Lato;
}

#grid-head-text {
    width: fit-content;
    margin: auto;
    margin-bottom: 50px;
    font-size: 3.5em;
    font-family: Lobster;
}

.grid-text {
    width: 100%;
    min-height: 400px;
}

.grid-text,
.icon {
    padding: 12px;
}

.grid-text>div {
    margin: 5%;
}
article{
    margin: 5%;
}
.grid-text .body-text {
    text-align: justify;
    font-family: Lato;
    font-size: 20px;
}

.grid-text .link {
    text-decoration: none;
    font-size: 2em;
    text-align: left;
}

.icon div {
    /* box-shadow: 0 0 15px -5px rgba(0,0,0,0.32); */
    background: rgb(245, 244, 244);
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.icon img {
    height: 50px;
    width: 50px;
}

.wrapper,
.grid-image {
    display: flex;
    align-items: center;
}

.grid-image {
    padding: 12px;
}

.grid-image .image-container img {
    height: 376px;
    border-radius: 12px;
    box-shadow: 0 2px 6px 3px rgba(0, 0, 0, 0.32);
    width: 100%;
    display: block;
    margin: auto;
}

#page-container {
    display: grid;
    margin: 50px 5%;
    margin-bottom: 0;
    padding-top: 0;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 5%;
}

#fb-page12 {
    max-width: 500px;
    width: 40vw;
    margin: auto;
}

#social-block {
    border: 2px outset grey;
    margin: 0 2%;
}

#form-wrapper {
    overflow: hidden;
    padding: 50px 0;
    border-top: 2px solid goldenrod;
    background: linear-gradient(45deg, rgba(255, 129, 12, 0.712), rgba(253, 96, 82, 0.801));
}
#form-wrapper:hover #query-line {
    transform: translateY(-10px) scale(1.4);
}

#form-container {
    /* border: 2px solid green; */
    min-height: 200px;
    width: fit-content;
    margin: auto;
    padding: 12px;
}

form {
    width: fit-content;
    margin: auto;
}

form>div {
    padding: 5% 0;
}

form input {
    padding: 5%;
    width: 100%;
}

textarea {
    width: 100%;
    padding: 5%;
}

#query-line {
    border-bottom: 2px solid black;
    transition: transform 300ms;
}

form button {
    border: none;
    padding: 12px;
    margin: 0 12px;
    color: white;
    background-color: black;
}

#button-setter {
    font-family: Lato;
    width: fit-content;
    margin: auto;
    border: 3px groove turquoise;
}

#button-setter:hover {
    transform: rotate(-5deg);
}

.some-headings {
    text-align: center;
    font: 700 32px Lobster;
    padding: 30px 5%;
    /* border-top: 2px solid goldenrod; */
}

.alter-grid .grid-image {
    grid-area: second;
}

.alter-grid .grid-text {
    grid-area: first;
}

#insta-container iframe {
    margin: auto;
    /* see the details inside the iframe */
}

#youtube-box {
    margin: 100px 0;
    overflow: hidden;
}

#youtube-player {
    width: fit-content;
    margin: auto;
}

#youtube-player iframe {
    margin: auto;
    display: block;
    width: 80vw;
    height: calc(70vw *(562/1000));
}

@media screen and (min-width: 700px) {
    #header_text {
        font-size: 10vw;
    }
}

@media screen and (max-width: 767px) {

    #myVideo{
        top: 56.71px;
        
    }

    .wrapper {
        display: grid;
        grid-template-columns: 1fr;
        min-height: 200px;
        grid-column-gap: 30px;
    }

    #fb-page12 {
        width: 90vw;
        margin-top: 10vh;
        margin: auto;
    }

    #page-container {
        grid-template-columns: 1fr;
    }

    .some-headings {
        margin-top: 50px;
    }

    .wrapper {
        grid-template-columns: 1fr;
        grid-template-areas: "first"
            "second";
    }
}