body{
    background-image: url("../images/background/ABB-Formula-E-Michelin-a-presente-le-nouveau-MICHELIN-Pilot-Sport.jpg");
    background-size: 100vw 100vh;
    background-attachment: fixed;
}
main{
    position: relative;
    top: 70px;
    padding-bottom: 50px;
    margin-bottom: 20px;
}
main >div{
    border: 5px white ridge;
    margin: 5% 2%;
}
#zfr5{
    position: relative;
    top: -70px;
}
#top-member{
    margin-top:0;
    padding-top: 0;
}
.firsttier{
    margin: 30px 0;
    padding: 30px;
    /* border: 2px solid green; */
}
.firsttier > div{
    width: fit-content;
    min-width: 250px;
    max-width: 300px;
    margin: auto;
    transition: transform 300ms;
}

.firsttier > div ,.second-tier>div
{
    box-shadow: 0 0 20px 5px rgb(14, 14, 14), inset 0 -1px 0 0 #dadce0;
    border-radius: 12px;
    background: lightgray ;
}
.member{
    margin-top: 10px;
    /* padding: 10px; */
    
}
.member > div{
    margin: 20px 0 ;
    text-align: center;
}
.member-image img{
    margin-top: 12px;
    width: 60%;
    border-radius:50%;
    box-shadow: 0 0 12px 0px rgb(0, 0, 0); 
}

.second-tier{
    margin: 30px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
}
.second-tier > div{
    margin: 50px 15px;
    flex-basis: 40% !important;
    min-width: 230px;
    max-width: 260px;
    transition: transform 300ms; 
}
.second-tier > div:hover,.firsttier >div:hover{
    transform: scale(1.1);
}
.linksofmembers{
    margin: 20px 0;
    display: flex;
    justify-content: space-around;
    background-color: rgb(138, 138, 138);
    margin: 0 0 -30px 0;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    padding: 12px 0;
    
}
.linksofmembers div a img:hover{
    transform: scale(1.1);
    
}
.linksofmembers div{
    padding-bottom: 5px;
    transition: border-bottom 300ms;
}
.linksofmembers div:hover{
    border-bottom: 2px solid #330926;
}

.linksofmembers div a img{
    height: 40px;
    border-radius: 50%;
    transition: transform 400ms;
    /* box-shadow: 0 0 5px 0 black; */
}
.perse-des,.perse-des-small{
    color: rgb(18, 62, 98);
    font-family: Domile;
}
.perse-des h2,.perse-des-small h2{
    padding: 1%;
    font-weight: 700;
    border-bottom: 4px ridge black;
    color: #000;
}
.perse-des h2{
    font-size: 1.8rem;
}
.perse-des h4{
    font-size: 1.4rem;
}
.perse-des-small h2{
    font-size: 1.4rem;
}
.perse-des-small h4{
    font-size: 1.1rem;
}
.department-heading > div{
    padding: 1% 10%;
    color: white;
    font-weight:800;
    font-family: Roboto;
    text-shadow: #000 4px 3px 3px;
    /* text-decoration: underline white; */
    margin: auto;
    width: 80%;
    border-radius: 12px;
    background-color: #09332a;
    }
.department-heading-box{
    border-bottom: 2px ridge white;
    margin: auto;
    width: fit-content;
}

.department-heading-box h1{
    text-align: center;
}
#zfr5{
    margin-top: 30px;
}

#zfr5 > div{
    width: 95%;
    background: linear-gradient(45deg, #1f171c,rgb(87, 40, 40),#1f171c );
}
@media screen and (max-width:991px){
    #zfr5{
        top:-60px;
    }
    .department-heading-box h1{
        font-size: 1.5rem;
    }
    .perse-des h2{
        font-size: 1.6rem; 
    }
    .second-tier{
        margin: 8% 0;
    }
    .firsttier{
        margin: 4% 0;
    }
    .perse-des h4{
        font-size: 1.2rem;
    }
}