body{
    background-image: url("../images/gears.jpg");
    background-attachment: fixed;
}
main{
    /* background: linear-gradient(90deg,rgba(255, 255, 255, 0),rgba(255, 255, 255, 0.692),rgba(255, 255, 255, 0)); */
    position: relative;
    top: 70px;
}

.firsttier{
    margin: 50px 0;
    /* border: 2px solid green; */
}
.firsttier > div{
    width: fit-content;
    min-width: 300px;
    max-width: 400px;
    margin: auto;
}

.firsttier > div ,.second-tier>div
{
    box-shadow: 0 0 100px 30px rgb(14, 14, 14), inset 0 -1px 0 0 #dadce0;
    border-radius: 12px;
    background: #1a3120 ;
}
.member{
    margin-top: 10px;
    /* padding: 10px; */
    
}
.member > div{
    margin: 20px 0 ;
    text-align: center;
}
.member-image img{
    margin-top: 12px;
    width: 80%;
    border-radius:50%;
    box-shadow: 0 0 12px 0px rgb(0, 0, 0); 
}

.second-tier{
    margin: 100px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
    
}
.second-tier > div{
    margin: 50px 0;
    flex-basis: 25% !important;
    min-width: 300px;
}
.linksofmembers{
    margin: 20px 0;
    display: flex;
    justify-content: space-around;
    background-color: rgb(206, 206, 206);
    margin: 0 0 -30px 0;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    padding: 12px 0;
    
}
.linksofmembers div a img:hover{
    transform: scale(1.1);
    
}
.linksofmembers div{
    padding-bottom: 5px;
    transition: border-bottom 300ms;
}
.linksofmembers div:hover{
    border-bottom: 2px solid #330926;
}

.linksofmembers div a img{
    height: 40px;
    border-radius: 50%;
    transition: transform 400ms;
    /* box-shadow: 0 0 5px 0 black; */
}
.perse-des{
    color: #FDB90F;
    font-family: Ubuntu;
}
.perse-des h2{
    font-size: 3rem;
    font-weight: 700;
    border-bottom: 4px ridge black;
    color: #330926;
}
.department-heading > div{
    padding: 1% 10%;
    color: white;
    font-weight:1000;
    font-family: Cinzel;
    /* text-decoration: underline white; */
    margin: auto;
    width: 80%;
    border-radius: 12px;
    background-color: #330926;
    }
.department-heading-box{
    border-bottom: 2px ridge white;
    margin: auto;
    width: fit-content;
}
#zfr5{
    margin-top: 30px;
}

#zfr5 > div{
    width: 95%;
    background: linear-gradient(0deg, #1f171c,rgb(141, 129, 129),#1f171c );
}