
body{
    position: relative;
    top: 80px;
    background-color: #ffffd0;
}
.one,.two{
   padding: 12px 5%;
}

.donation-heading{
    text-align: center;
    font-family: Algerian;
}
.donation-heading h1{
    padding: 32px;
    font-size: 3.2em;
}
.donation-body{
    padding: 12px 10%;
    line-height: 1.8;
    width: 70%;
    min-width: 300px;
    text-align: justify;
    margin:auto;
    color: #414042;
    font-size: 1.4em;
    font-family: Domine;
}
#amu-icon img{
    height: 50%;
    padding: 0 12px;
    width: 100%;
    max-width: 200px;
    color: #ffffd0;
    margin: auto;
    display: block;
}

@media screen and (max-width: 767px) {
    .donation-body{
        font-size: 1em;
        padding: 12px 0;
    }
    .donation-heading h1{
        font-size: 2.2em;
    }
}