/* body{
    position: relative;
    top: 68px;
} */
body{
    background:linear-gradient(rgba(10, 10, 10, 0.5), rgba(8, 8, 8, 0.5)), url("../images/imageedit_2_7458214510.jpg") no-repeat center center;
    background-size: cover;
}
#formula_head{
    text-align:center;
    padding:2%;
    margin-top:3%;
    font-family: "Aldrich";
}
.fst-blog{
    margin:relative;
    margin-top:10%;
    margin-bottom:3%;
}
.fst-blog ,.fst-blog a{
    color:white;
}
.col-md-4 p{
    color:white;
    font-family:"Times New Roman", Times, serif;
    font-size:120%;
}
.blog-text{
    font-family: "Times New Roman", Times, serif;
    font-size: 130%;
}
.static-events{
    margin-bottom:3%
}
.static-events h4,.dynamic-events h4{
    text-align: center;
    color: white;
}
.dynamic-events .col-md-4, .static-events .col-md-4{
    margin-bottom:2%;
}
.static-events h3, .dynamic-events h3{
    text-align:center;
    font-family: "Aldrich";
    color:white;
    margin-bottom:5%;

}
#header-text div {
    color:white;
    font-size:8vw;
    font-weight:800;
    margin: auto;
    width: fit-content;
    text-align: center;
    border-left: 3px solid goldenrod;
    padding-left: 2%;
}