/* body{
    position: relative;
    top: 68px;
} */
body{
    background:linear-gradient(rgba(0, 0, 0, 0.898), rgba(0, 0, 0, 0.61)), url("../images/background/formula_background.jpg") no-repeat center center;
    background-size: cover;
}
#formula_head{
    text-align:center;
    padding:2%;
    margin-top:3%;
    font-family: "Aldrich";
    font-weight:bold;
}
.fst-blog{
    margin:relative;
    margin-top:16vh;
    margin-bottom:7%;
}
.fst-blog ,.fst-blog a{
    color:white;
    font-weight:90%
}
.col-md-4 p{
    color:white;
    font-weight:50%;
    font-family:"Times New Roman", Times, serif;
    font-size:120%;
}
.blog-text{
    font-family: "Times New Roman", Times, serif;
    font-size: 130%;
}
.static-events{
    margin-bottom:3%
}
.static-events h4,.dynamic-events h4{
    text-align: center;
    color: white;
    font-weight:bold;
}
.dynamic-events .col-md-4, .static-events .col-md-4{
    margin-bottom:2%;
}
.static-events h2, .dynamic-events h2{
    text-align:center;
    font-family: "Aldrich";
    color:white;
    margin-bottom:5%;
    font-weight:bold;

}
#header-text div {
    color:white;
    font-size:8vw;
    font-weight:800;
    margin: auto;
    width: fit-content;
    text-align: center;
    border-left: 3px solid goldenrod;
    padding-left: 2%;
}