<head>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="cars.css">
  <link rel="stylesheet" href="/general.css">
  <script src="/templating.js"></script>
  <script src="./sidecar.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>

<body id="cars-index">

  <nav include-html="/template/nav.html" class="navbar navbar-expand-lg" id="navbar"></nav>

  <main id="app">
    <!-- header -->
    <section id="cars-head">
      <div class="text-block">
        <h1>OUR RACING CARS</h1>
      </div>
    </section>
    <!-- End of header -->

    <!-- Cars of Sae Zhcet -->
    <!-- <div class="container"> -->
    <section id="cars-sae">
      <div class="row">
        <div class="col-md-6" v-for="car in cars" :key="car.id">
          <div class="image-box">
            <a :href="car.link"><img :src="car.image"></a>
          </div>
          <div class="name name-center">
            <a :href="car.link">
              <h2>{{ car.name }}</h2>
            </a>
          </div>
        </div>
      </div>
    </section>
    <!-- </div> -->
    <!-- End of cars of Sae Zhcet -->
    <div class="container">
      <div class="row sponsor">
        <div class="col-md-6" v-for="(sponsor,index) in sponsors" :key="index">
          <img :src="sponsor" width="100%" height="100%">
        </div>
      </div>
    </div>

    <div id="sidecar">
      <img src="/images/car_images/car.png" alt="">
    </div>
    <div id="sidecar-path">
      <img id="path" src="/images/car_images/path.jpg" alt="">
    </div>
  </main>


  <!-- Footer -->
  <footer include-html="/template/footer.html" class="page-footer font-small stylish-color-dark pt-4">

  </footer>
  <!-- Footer end-->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script>
  <script>
    includeHTML();
    car_move();
  </script>
  <script>
    var app = new Vue({
      el: '#app',
      data: {
        cars: [
          {
            image: "/images/car_images/zfr1.jpg",
            id: 1,
            name: "ZFR 1.0",
            link: "../cars/zfr-1/index.html"
          },
          {
            image: "/images/car_images/zfr2.jpg",
            link: "../cars/zfr-2/index.html",
            name: "ZFR 2.0",
            id: 2
          },
          {
            image: "/images/car_images/zfr3.jpg",
            link: "../cars/zfr-3/index.html",
            name: "ZFR 3.0",
            id: 3
          },
          {
            image: "/images/car_images/zfr4.jpg",
            link: "../cars/zfr-4/index.html",
            name: "ZFR 4.0",
            id: 4
          },
          {
            image: "/images/car_images/zfr4.1.jpg",
            link: "../cars/zfr-4.1/index.html",
            name: "ZFR 4.1",
            id: 5
          },
          {
            image: "https://media.moddb.com/cache/images/mods/1/26/25760/thumb_620x2000/coming_soon.jpg",
            link: "../cars/zfr-5.0/index.html",
            name: "ZFR 5.0",
            id: 6
          },
        ],
        sponsors: ["https://www.marshall.edu/it/files/mathworks-logo.jpg","https://yt3.ggpht.com/a/AGF-l79atE0GzZ5jy-Fmio_r6gz6xdXY3N4NwPb8Og=s900-c-k-c0xffffffff-no-rj-mo","http://alwafagroupuae.com/Alwafa-Dashboard/uploads/clients/efs%20logo.png","https://images.ipros.jp/public/company/image/89b/2046702/IPROS29723033195651003817.png?w=220&h=220"]
      }
    })
  </script>

</body>

</html>